In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('D:\\fy\\apartments_for_rent_classified_10K.csv', delimiter = ';', encoding = 'latin1')

In [4]:
df = df.apply(lambda x: x.str.strip() if x.dtype == 'object' else x)

In [5]:
print(df.isnull().sum())

id                  0
category            0
title               0
body                0
amenities        3549
bathrooms          34
bedrooms            7
currency            0
fee                 0
has_photo           0
pets_allowed     4163
price               0
price_display       0
price_type          0
square_feet         0
address          3327
cityname           77
state              77
latitude           10
longitude          10
source              0
time                0
dtype: int64

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10000 non-null  int64
 1   category       10000 non-null  object
 2   title          10000 non-null  object
 3   body           10000 non-null  object
 4   amenities      6451 non-null   object
 5   bathrooms      9966 non-null   float64
 6   bedrooms       9993 non-null   float64
 7   currency       10000 non-null  object
 8   fee            10000 non-null  object
 9   has_photo      10000 non-null  object
 10  pets_allowed   5837 non-null   object
 11  price          10000 non-null  int64
 12  price_display  10000 non-null  object
 13  price_type     10000 non-null  object
 14  square_feet    10000 non-null  int64
 15  address        6673 non-null   object
 16  cityname       9923 non-null   object
 17  state          9923 non-null   object
 18  latitude       9990 non-null   float64
 19  longitude      9990 non-null   float64
 20  source         10000 non-null  object
 21  time           10000 non-null  int64
dtypes: float64(4), int64(4), object(14)
memory usage: 1.7+ MB
None

In [7]:
df['bathrooms'] = df['bathrooms'].fillna(df['bathrooms'].median())
df['bedrooms'] = df['bedrooms'].fillna(df['bedrooms'].median())

In [13]:
text_column = ['amenities','pets_allowed','address','cityname','state']

for col in text_column:
    df[col] = df[col].fillna('Unknown')

In [14]:
df['time'] = pd.to_datetime(df['time'], errors='coerce', unit='s')

In [15]:
df['latitude'] = df['latitude'].fillna(df['latitude'].median())
df['longitude'] = df['longitude'].fillna(df['longitude'].median())

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10000 non-null  int64
 1   category       10000 non-null  object
 2   title          10000 non-null  object
 3   body           10000 non-null  object
 4   amenities      10000 non-null  object
 5   bathrooms      10000 non-null  float64
 6   bedrooms       10000 non-null  float64
 7   currency       10000 non-null  object
 8   fee            10000 non-null  object
 9   has_photo      10000 non-null  object
 10  pets_allowed   10000 non-null  object
 11  price          10000 non-null  int64
 12  price_display  10000 non-null  object
 13  price_type     10000 non-null  object
 14  square_feet    10000 non-null  int64
 15  address        10000 non-null  object
 16  cityname       10000 non-null  object
 17  state          10000 non-null  object
 18  latitude       10000 non-null  float64
 19  longitude      10000 non-null  float64
 20  source         10000 non-null  object
 21  time           10000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(3), object(14)
memory usage: 1.7+ MB

In [21]:
df.drop_duplicates(inplace=True)

In [22]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10000 non-null  int64
 1   category       10000 non-null  object
 2   title          10000 non-null  object
 3   body           10000 non-null  object
 4   amenities      10000 non-null  object
 5   bathrooms      10000 non-null  float64
 6   bedrooms       10000 non-null  float64
 7   currency       10000 non-null  object
 8   fee            10000 non-null  object
 9   has_photo      10000 non-null  object
 10  pets_allowed   10000 non-null  object
 11  price          10000 non-null  int64
 12  price_display  10000 non-null  object
 13  price_type     10000 non-null  object
 14  square_feet    10000 non-null  int64
 15  address        10000 non-null  object
 16  cityname       10000 non-null  object
 17  state          10000 non-null  object
 18  latitude       10000 non-null  float64
 19  longitude      10000 non-null  float64
 20  source         10000 non-null  object
 21  time           10000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(3), object(14)
memory usage: 1.7+ MB
None