In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('D:\\fy\\apartments_for_rent_classified_100K.csv', delimiter = ';', encoding = 'latin1', low_memory = False)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             99492 non-null  int64
 1   category       99492 non-null  object
 2   title          99492 non-null  object
 3   body           99492 non-null  object
 4   amenities      83448 non-null  object
 5   bathrooms      99429 non-null  float64
 6   bedrooms       99368 non-null  float64
 7   currency       99492 non-null  object
 8   fee            99492 non-null  object
 9   has_photo      99492 non-null  object
 10  pets_allowed   39068 non-null  object
 11  price          99491 non-null  float64
 12  price_display  99491 non-null  object
 13  price_type     99492 non-null  object
 14  square_feet    99492 non-null  int64
 15  address        7943 non-null   object
 16  cityname       99190 non-null  object
 17  state          99190 non-null  object
 18  latitude       99467 non-null  float64
 19  longitude      99467 non-null  float64
 20  source         99492 non-null  object
 21  time           99492 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 16.7+ MB

In [14]:
df['bathrooms'] = df['bathrooms'].fillna(df['bathrooms'].median())
df['bedrooms'] = df['bedrooms'].fillna(df['bedrooms'].median())

In [17]:
text_columns = ['amenities','pets_allowed','address','cityname','state']

for col in text_columns:
    df[col] = df[col].fillna('Unknown')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             99492 non-null  int64
 1   category       99492 non-null  object
 2   title          99492 non-null  object
 3   body           99492 non-null  object
 4   amenities      99492 non-null  object
 5   bathrooms      99492 non-null  float64
 6   bedrooms       99492 non-null  float64
 7   currency       99492 non-null  object
 8   fee            99492 non-null  object
 9   has_photo      99492 non-null  object
 10  pets_allowed   99492 non-null  object
 11  price          99491 non-null  float64
 12  price_display  99491 non-null  object
 13  price_type     99492 non-null  object
 14  square_feet    99492 non-null  int64
 15  address        99492 non-null  object
 16  cityname       99492 non-null  object
 17  state          99492 non-null  object
 18  latitude       99467 non-null  float64
 19  longitude      99467 non-null  float64
 20  source         99492 non-null  object
 21  time           99492 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 16.7+ MB

In [19]:
df['time'] = pd.to_datetime(df['time'], errors='coerce', unit='s')

In [20]:
df.drop_duplicates(inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99408 entries, 0 to 99491
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             99408 non-null  int64
 1   category       99408 non-null  object
 2   title          99408 non-null  object
 3   body           99408 non-null  object
 4   amenities      99408 non-null  object
 5   bathrooms      99408 non-null  float64
 6   bedrooms       99408 non-null  float64
 7   currency       99408 non-null  object
 8   fee            99408 non-null  object
 9   has_photo      99408 non-null  object
 10  pets_allowed   99408 non-null  object
 11  price          99407 non-null  float64
 12  price_display  99407 non-null  object
 13  price_type     99408 non-null  object
 14  square_feet    99408 non-null  int64
 15  address        99408 non-null  object
 16  cityname       99408 non-null  object
 17  state          99408 non-null  object
 18  latitude       99383 non-null  float64
 19  longitude      99383 non-null  float64
 20  source         99408 non-null  object
 21  time           99408 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(2), object(14)
memory usage: 17.4+ MB